* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

.main-header {
  background-color: #1f2937;

  display: flex;
  flex-wrap: wrap;

  padding-top: 1rem;
}

.main-header > nav {
  background-color: #1f2937;

  display: flex;
  flex-wrap: wrap;

  width: 80%;
  margin: 0 auto;

  padding-top: 1rem;
}

.main-header h1 {
  flex: 1 1 15rem;
  font-size: 2.4rem;
  color: #f9faf8;
  padding-bottom: 1rem;
}

.header-nav {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.header-nav > li {
  font-size: 1.8rem;
  color: #e5e7eb;
}

section.hero {
  background-color: #1f2937;

  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 5rem 0rem;
}

.hero-text {
  margin-left: 10%;
}
.hero-image {
  margin-right: 10%;
  max-width: 60rem;
}

section.hero > * {
  flex: 1 1 25rem;
}

.hero-text > h2 {
  font-size: 4.8rem;
  color: #f9faf8;
  font-weight: 800;
}
.hero-text > p {
  font-size: 1.8rem;
  color: #e5e7eb;
  padding: 1rem 1rem 1rem 0rem;

  max-width: 60rem;
}

.hero-image img {
  width: 100%;
  height: 20rem;
}

.hero-text > button {
  padding: 0.8rem 3rem;
  background: #3882f6;
  border: 0.3rem solid transparent;
  color: white;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.illustrations {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  width: 80%;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.illustration {
  flex: 1 1 15rem;
}

.random-info > h3 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  color: #1f2937;
  margin: 2rem 0;
}

.illustration > img {
  width: 100%;
  height: 15rem;
}

.illustration > p {
  font-size: 1.8rem;
  margin-top: 1rem;
}

section.quote {
  background-color: #e5e7eb;
  padding: 6rem;
}

.inspiring-quote {
  font-size: 3.4rem;
  color: #1f2937;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  width: 50%;
  margin: 0 auto;
}

.quote-author {
  width: 80%;
  margin: 0 auto;
  text-align: end;
  font-size: 3.6rem;
  font-weight: 600;
}

section.call-to-action {
  background-color: #3882f6;
  width: 80%;
  margin: 6rem auto;
  padding: 2rem;
  border: 0.3rem solid transparent;
  border-radius: 1rem;
  display: flex;

  justify-content: space-around;
}

.action-text > h4 {
  font-size: 1.8rem;
  color: #f9faf8;
  font-weight: 800;
}

.action-text > p {
  font-size: 1.8rem;
  color: #e5e7eb;
}

.call-to-action > button {
  padding: 0.4rem 3rem;
  background: #3882f6;
  border: 0.1rem solid #f9faf8;
  color: white;
  font-size: 1.4rem;
  border-radius: 1rem;
}

footer {
  background-color: #1f2937;
  font-size: 1.8rem;
  color: #e5e7eb;
  text-align: center;
  padding: 2rem;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .inspiring-quote {
    width: 100%;
  }

  .quote-author {
    width: 100%;
    margin-top: 1rem;
  }

  .hero-image {
    margin: auto;
  }
}
